<select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
  <option value="">-status-</option>
  <% [Host::OK, Host::FAIL].each do |s|
     value = append_query_string("/status/#{s}") %>
  <option value="<%= value %>" <%= "selected=\"selected\"" if params[:status] == s %>><%= s %></option>
  <% end %>
</select>
