<h2>hosts <%= @status == Host::OK ? "passing" : "failing" %> checks</h2>

<% check_status_to_hosts_map.each do |k, v| %>
<h3><%= k %></h3>
<% v.each do |h| %>
<li><%= hostlink(h) %></li>
<% end %>
<% end%>
